# Dreamcast build and local test artifacts
/not64-dc-bringup
/not64-dc*.elf
*.o
/obj/
/build/
/saves/dc_host.txt
/roms/*.z64
/roms/*.n64
/roms/*.v64
!/roms/dc_dummy.z64
!/roms/dc_cputest.z64
!/roms/dc_vitest.z64
